body {
    
    
    background: rgba(255, 253, 244, 0.96);
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 80%;
    max-width: 1024px;
    margin: 0px auto;
}
